@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-00.woff2") format("woff2");
  unicode-range: U+20-25CF;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-01.woff2") format("woff2");
  unicode-range: U+25D0-324D;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-02.woff2") format("woff2");
  unicode-range: U+324E-364E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-03.woff2") format("woff2");
  unicode-range: U+364F-3A4E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-04.woff2") format("woff2");
  unicode-range: U+3A4F-3E4E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-05.woff2") format("woff2");
  unicode-range: U+3E4F-424E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-06.woff2") format("woff2");
  unicode-range: U+424F-464E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-07.woff2") format("woff2");
  unicode-range: U+464F-4A4E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-08.woff2") format("woff2");
  unicode-range: U+4A4F-4E8E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-09.woff2") format("woff2");
  unicode-range: U+4E8F-528E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-10.woff2") format("woff2");
  unicode-range: U+528F-568E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-11.woff2") format("woff2");
  unicode-range: U+568F-5A8E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-12.woff2") format("woff2");
  unicode-range: U+5A8F-5E8E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-13.woff2") format("woff2");
  unicode-range: U+5E8F-628E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-14.woff2") format("woff2");
  unicode-range: U+628F-668E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-15.woff2") format("woff2");
  unicode-range: U+668F-6A8E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-16.woff2") format("woff2");
  unicode-range: U+6A8F-6E8E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-17.woff2") format("woff2");
  unicode-range: U+6E8F-728E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-18.woff2") format("woff2");
  unicode-range: U+728F-768E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-19.woff2") format("woff2");
  unicode-range: U+768F-7A8E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-20.woff2") format("woff2");
  unicode-range: U+7A8F-7E8E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-21.woff2") format("woff2");
  unicode-range: U+7E8F-828E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-22.woff2") format("woff2");
  unicode-range: U+828F-868E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-23.woff2") format("woff2");
  unicode-range: U+868F-8A8E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-24.woff2") format("woff2");
  unicode-range: U+8A8F-8E8E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-25.woff2") format("woff2");
  unicode-range: U+8E8F-928E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-26.woff2") format("woff2");
  unicode-range: U+928F-968E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-27.woff2") format("woff2");
  unicode-range: U+968F-9A8E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-28.woff2") format("woff2");
  unicode-range: U+9A8F-9E8E;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-29.woff2") format("woff2");
  unicode-range: U+9E8F-2298F;
}

@font-face {
  font-family: "Source Han Sans CN";
  font-style: normal; font-weight: 100 900; font-display: swap;
  src: url("source-han-sans-cn-30.woff2") format("woff2");
  unicode-range: U+235CB-2F8B6;
}
